rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if a user is an admin
    function isAdmin() {
      // Check if user is authenticated and if their role in the 'users' collection is 'admin'
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Publicly readable collections, only writable by admins
    match /berita/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /dataDesa/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /profilDesa/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /sdgs/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /setelan/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // User profiles can be created by anyone (for registration),
    // but can only be updated by admins.
    // Authenticated users can read all profiles.
    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if true;
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
  }
}
